.dropdown-menu
  display none
  overflow hidden
  position absolute
  top 0
  left 0
  z-index 9999

  &_opened
    display  block

  &__list
    display block
    list-style-type none
    margin 0
    padding 0 25px
    border-bottom  1px solid #D1D0D0
    background-color  #333
    font-size 11px

  &__item
    display block
    list-style-type none
    margin 0
    white-space nowrap
    border-bottom  1px solid #ddd
    padding  5px 0
    border-top  1px solid #ccc
    color  #fff
    cursor  pointer

  & first-of-type
    border-top  none

  & last-of-type
    border-bottom  none

  &__close
    position  absolute
    top  5px
    left  5px
    cursor  pointer
